body {
  font-family: 'Montserrat', sans-serif;;
}

#product-overview {
  background: #ff1b68;
}

.section-title {
  color: #2ddf5c;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

#assignment-title {
  color: #ff1122;
  font-family: sans-serif;
}

code {
  color: #ff0000;
  font-family: monospace;
}

.code-highlight {
  color: #00ff00;
}

li + li {
  background: black;
  color: white;
}
